/* custom properties */

:root {
    /* Colors */

    --White: hsl(0, 0%, 100%);

    --Blue-200: hsl(224, 100%, 95%);
    --Blue-400: hsl(220, 100%, 64%);
    --Blue-600: hsl(228, 100%, 60%);
    --Blue-700: hsl(228, 99%, 58%);

    --Black: hsl(0, 0%, 0%);

    /* used at 25% opacity for the menu overlay */
}

/* overall styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    background-color: var(--Blue-600);
    color: var(--White);
    position: relative;
}

/* header */

.header {
    display: flex;
    padding: 25px 22px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--Blue-400);
    position: relative;
}

.title {
    font-size: 0.9em;
    font-weight: 400;
}

.title::before {
    content: "• ";
    width: 17px;
    height: 17px;
}

.menu-checkbox {
    z-index: 10;
    position: absolute;
    top: 24px;
    right: 22px;
    width: 20px;
    height: 20px;
    appearance: none;
    background-image: url(./assets/images/icon-menu.svg);
    cursor: pointer;
}

.menu,
.navigation {
    display: none;
}

.navigation {
    display: flex;
    flex-direction: column;
    padding: 30px 80px;
    text-align: center;
    justify-content: center;
    line-height: 3em;
}

.navigation .link {
    display: block;
    font-size: 1.8em;
    text-decoration: none;
    color: var(--White);
}

.navigation .link:hover {
    text-decoration: underline;
}

.menu-checkbox:checked~.menu,
.menu-checkbox:checked~.menu .navigation {
    display: block;
}

.menu-checkbox:checked {
    background-image: url(./assets/images/icon-close.svg)
}

.menu-checkbox:checked~.main-section,
.menu-checkbox:checked~.footer {
    background-color: var(--Black);
    opacity: 0.25;
}

.menu-checkbox:checked~.main-section .introduction {
    display: none;
}

/* main */

.main-section {
    display: flex;
    flex-direction: column;
}

/* introduction section */

.introduction {
    padding: 60px 32px;
}

.introduction .subtitle {
    margin-bottom: 20px;
}

.subtitle {
    font-size: 2.4em;
    font-weight: 400;
}

.desc {
    color: var(--Blue-200);
    font-size: 1.15em;
    line-height: 1.7em;
}

/* stat sections */

.stat-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 1px solid var(--Blue-400);
    border-bottom: 1px solid var(--Blue-400);
    padding: 20px 32px;
    height: 350px;
    width: 100%;
}

.first-part {
    height: 60px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.icon {
    width: 40px;
    height: 40px;
}

/* icon animations */

.sparkle {
    transition: all 0.8s ease-in-out;
}

.sparkle:hover {
    transform: rotate(180deg);
}

.arrow {
    rotate: 0;
    translate: 0;
    transition: translate 0.6s linear, rotate 0.4s ease-in 0.2s;
}

.arrow:hover {
    translate: 23px 0;
    rotate: 8deg
}

.trend {
    transition: all 0.2s ease-in;
}

.trend:hover {
    transform: scale(1.05);
}

.second-part {
    display: flex;
    flex-direction: column;
}

.small {
    font-size: 1.15em;
}

.second-part .desc {
    margin-top: 5px;
    font-size: 0.8em;
}

/* footer */


.footer {
    font-size: 0.7em;
    text-align: center;
    padding: 30px 32px 5px;
}

.footer-section {
    font-size: 1.2em;
    text-align: left;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: var(--Blue-200)
}

.footer a {
    color: hsl(59, 100%, 50%);
    text-decoration: none;
}

/* desktop layout */

@media screen and (min-width: 938px) {
    /* body desk */

    body {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 68px 1fr 100px;
        grid-template-areas:
            'header header header'
            'main main main'
            'footer footer footer';
    }

    /* header desk */

    .header {
        grid-area: header;
    }

    /* main desk */

    .main-section {
        grid-area: main;
        display: grid;
        grid-template-columns: 1.6fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            'introduction s1 s2'
            'introduction s3 s4';
        width: 100%;
    }

    .introduction {
        grid-area: introduction;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        font-size: 1.65em;
        padding-left: 40px;
    }

    .introduction .desc {
        font-size: 0.8em;
        width: 85%;
        max-width: 500px;
    }

    .introduction .subtitle {
        width: 82%;
        max-width: 450px;
    }

    .stat-section {
        border: 1px solid var(--Blue-400);
        height: auto;
    }

    .main-section .stat-section:nth-child(2) {
        grid-area: s1;

    }

    .main-section .stat-section:nth-child(3) {
        grid-area: s2;
    }

    .main-section .stat-section:nth-child(4) {
        grid-area: s3;
    }

    .main-section .stat-section:nth-child(5) {
        grid-area: s4;
    }

    .stat-section:nth-child(5) {
        grid-area: fourth-stat;
    }

    .footer {
        grid-area: footer;
        border-top: 1px solid var(--Blue-400)
    }

    .footer-section {
        flex-direction: row;
        justify-content: space-between;
    }

    /* menu desk */

    body:has(.menu-checkbox:checked) {
        grid-template-columns: 1fr 1fr 1fr 1.15fr;
        grid-template-areas:
            'header header header menu'
            'main main main menu'
            'footer footer footer menu';
    }

    .menu-checkbox:checked~.main-section .stat-section:nth-child(5),
    .menu-checkbox:checked~.main-section .stat-section:nth-child(3) {
        display: none;
    }

    .menu-checkbox:checked~.main-section .introduction {
        display: flex;
    }

    .menu-checkbox:checked~.main-section {
        grid-template-columns: 1.6fr 1fr;
        grid-template-areas:
            'introduction s1'
            'introduction s3';
    }

    .menu-checkbox:checked~.footer .footer-section p:nth-child(2) {
        display: none;
    }

    .menu {
        grid-area: menu;
    }

    .navigation {
        margin-top: 28%;
        padding: 0 45px 0 40%;
        font-size: 1.25em;
        text-align: right;
    }
}

/* transitions */

@media (prefers-reduced-motion: reduce) {
    * {
        transition: all 0.01ms;
    }
}